
.DS_Store
vessel-ui/.idea/inspectionProfiles/profiles_settings.xml
vessel-ui/.idea/inspectionProfiles/Project_Default.xml
vessel-ui/.idea/misc.xml
vessel-ui/.idea/modules.xml
vessel-ui/.idea/vessel-ui.iml
vessel-ui/tools/__pycache__/utilities.cpython-310.pyc
vessel-ui/views/__pycache__/dashboard.cpython-310.pyc
vessel-ui/views/__pycache__/data_annotation.cpython-310.pyc
vessel-ui/views/__pycache__/data_extraction.cpython-310.pyc
vessel-ui/views/__pycache__/model_training.cpython-310.pyc
vessel-ui/views/__pycache__/model_tuning.cpython-310.pyc
vessel-ui/views/__pycache__/settings.cpython-310.pyc
vessel-ui/.idea/vcs.xml
*.pyc
vessel-data/donut/.idea/inspectionProfiles/profiles_settings.xml
vessel-data/donut/.idea/inspectionProfiles/Project_Default.xml
vessel-data/donut/.idea/misc.xml
vessel-data/donut/.idea/modules.xml
vessel-data/donut/.idea/vessel-data.iml
vessel-data/donut/.idea/vcs.xml
vessel-data/donut/.idea/workspace.xml
vessel-ml/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/.idea/misc.xml
vessel-ml/.idea/modules.xml
vessel-ml/.idea/vessel-ml.iml
vessel-ml/.idea/vcs.xml
vessel-ml/.idea/jupyter-settings.xml
vessel-ui/.idea/jupyter-settings.xml
vessel-data/.idea/jupyter-settings.xml
vessel-plugin/.idea/inspectionProfiles/profiles_settings.xml
vessel-plugin/.idea/inspectionProfiles/Project_Default.xml
vessel-plugin/.idea/jupyter-settings.xml
vessel-plugin/.idea/misc.xml
vessel-plugin/.idea/modules.xml
vessel-plugin/.idea/vessel-plugin.iml
vessel-plugin/.idea/vcs.xml
vessel-plugin-ui/.idea/inspectionProfiles/profiles_settings.xml
vessel-plugin-ui/.idea/inspectionProfiles/Project_Default.xml
vessel-plugin-ui/.idea/jupyter-settings.xml
vessel-plugin-ui/.idea/misc.xml
vessel-plugin-ui/.idea/modules.xml
vessel-plugin-ui/.idea/vessel-plugin-ui.iml
vessel-plugin-ui/.idea/vcs.xml
vessel-ml/sorrel/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/sorrel/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/sorrel/.idea/jupyter-settings.xml
vessel-ml/sorrel/.idea/misc.xml
vessel-ml/sorrel/.idea/modules.xml
vessel-ml/sorrel/.idea/sorrel.iml
vessel-ml/sorrel/.idea/vcs.xml
vessel-ml/lemming/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/lemming/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/lemming/.idea/lemming.iml
vessel-ml/lemming/.idea/misc.xml
vessel-ml/lemming/.idea/modules.xml
vessel-ml/lemming/.idea/vcs.xml
vessel-ml/lemming/.idea/workspace.xml
vessel-ml/lemming/.idea/jupyter-settings.xml
