
.DS_Store
vessel-ui/donut/.idea/inspectionProfiles/profiles_settings.xml
vessel-ui/donut/.idea/inspectionProfiles/Project_Default.xml
vessel-ui/donut/.idea/misc.xml
vessel-ui/donut/.idea/modules.xml
vessel-ui/donut/.idea/vessel-ui.iml
vessel-ui/tools/__pycache__/utilities.cpython-310.pyc
vessel-ui/views/__pycache__/dashboard.cpython-310.pyc
vessel-ui/views/__pycache__/data_annotation.cpython-310.pyc
vessel-ui/views/__pycache__/data_extraction.cpython-310.pyc
vessel-ui/views/__pycache__/model_training.cpython-310.pyc
vessel-ui/views/__pycache__/model_tuning.cpython-310.pyc
vessel-ui/views/__pycache__/settings.cpython-310.pyc
vessel-ui/donut/.idea/vcs.xml
*.pyc
vessel-data/donut/.idea/inspectionProfiles/profiles_settings.xml
vessel-data/donut/.idea/inspectionProfiles/Project_Default.xml
vessel-data/donut/.idea/misc.xml
vessel-data/donut/.idea/modules.xml
vessel-data/donut/.idea/vessel-data.iml
vessel-data/donut/.idea/vcs.xml
vessel-data/donut/.idea/workspace.xml
vessel-ml/donut/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/donut/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/donut/.idea/misc.xml
vessel-ml/donut/.idea/modules.xml
vessel-ml/donut/.idea/vessel-ml.iml
vessel-ml/donut/.idea/vcs.xml
vessel-ml/donut/.idea/jupyter-settings.xml
vessel-ui/.idea/jupyter-settings.xml
vessel-data/.idea/jupyter-settings.xml
vessel-ml/llm/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/llm/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/llm/.idea/lemming.iml
vessel-ml/llm/.idea/misc.xml
vessel-ml/llm/.idea/modules.xml
vessel-ml/llm/.idea/vcs.xml
vessel-ml/llm/.idea/workspace.xml
vessel-ml/llm/.idea/jupyter-settings.xml
vessel-data/donut/.idea/jupyter-settings.xml
vessel-ui/donut/.idea/jupyter-settings.xml
vessel-ml/lemming/.idea/inspectionProfiles/profiles_settings.xml
vessel-ml/lemming/.idea/inspectionProfiles/Project_Default.xml
vessel-ml/lemming/.idea/jupyter-settings.xml
vessel-ml/lemming/.idea/lemming.iml
vessel-ml/lemming/.idea/misc.xml
vessel-ml/lemming/.idea/modules.xml
vessel-ml/lemming/.idea/vcs.xml
vessel-ml/lemming/.idea/workspace.xml
vessel-ml/llm/.idea/llm.iml
vessel-data/ocr/.idea/inspectionProfiles/profiles_settings.xml
vessel-data/ocr/.idea/inspectionProfiles/Project_Default.xml
vessel-data/ocr/.idea/jupyter-settings.xml
vessel-data/ocr/.idea/misc.xml
vessel-data/ocr/.idea/modules.xml
vessel-data/ocr/.idea/ocr.iml
vessel-data/ocr/.idea/vcs.xml
vessel-ml/llm/.idea/copilot/chatSessions/xd.lck
vessel-ml/llm/.idea/copilot/chatSessions/blobs/version
vessel-ml/llm/.idea/copilot/chatSessions/00000000000.xd

vessel-ml/llm/.env_haystack/
vessel-ml/llm/.env_llamaindex/
vessel-ml/llm/.env_instructor/
vessel-ml/llm/.env_unstructured/
vessel-ml/llm/.env_vessel_parse/
vessel-data/ocr/.env_ocr/
vessel-data/parse/.env_parse
vessel-data/parse/.idea/inspectionProfiles/profiles_settings.xml
vessel-data/parse/.idea/inspectionProfiles/Project_Default.xml
vessel-data/parse/.idea/misc.xml
vessel-data/parse/.idea/modules.xml
vessel-data/parse/.idea/parse.iml
vessel-data/parse/.idea/vcs.xml
vessel-data/parse/dist/vessel_parse-0.1.7-py3-none-any.whl
vessel-data/parse/dist/vessel_parse-0.1.7.tar.gz
vessel-data/parse/poetry.lock
vessel-data/parse/.env_vessel_parse
vessel-data/parse/build
vessel-data/parse/dist
vessel-data/parse/vessel_parse.egg-info
/vessel-ml/infra/infra/.env_infra
/vessel-ml/infra/infra/.idea
/vessel-ml/infra/.env_infra
/vessel-ml/infra/.idea
vessel-ml/llm/.env
vessel-ui/shell/.env_shell
/vessel-ui/shell/.idea
